<!-- Starter code provided by Make School-->

<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='playlist-title'>Title</label><br>
        <input class="form-control" id='playlist-title' type='text' name='title' value='{{ playlist.title }}' />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label for='description'>Description</label><br>
        <input class="form-control" id='description' type='text' name='description' value='{{ playlist.description }}' />
    </p>

    <!-- VIDEO LINKS -->
    <p>
        <label for='playlist-videos'>Videos</label><br>
        <p>Add videos in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
        <textarea class="form-control" id='playlist-videos' name='videos' rows='10'>{{ "\n".join(playlist.videos) }}</textarea>
    </p>

    <!-- RATINGS -->
    <p>
        <label for='playlist-rating'>Rating</label><br>
        <select class="form-control" name="playlist-rating" id="playlist-rating">
            <option value="0">0 Stars</option>
            <option value="1">1 Stars</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>
    </p>

</fieldset>